<!doctype html>
<html>
<body>


{{customer_name}},
<br>
Your Order is on its way!
<br><br>

{{shipment_note_address}}
<br><br>
{{items}}
<br>

Below are the shipment details for your reference:

{% if(sales_order_id) %}
<li><b>Sales Order ID:</b> {{sales_order_id}}
{% else %}
<li><b>Delivery Note:</b> {{delivery_note}}
{% endif %}


<li><b>Carrier:</b> {{carrier_name}}
<li><b>Delivery option:</b> {{delivery_type}}
<li><b>Shipment price:</b> {{rate}}
<li><b>{{carrier_name}} Tracking number:</b> {{tracking_number}}
<li><b>Estimated Delivery Date:</b> {{delivery_time}}
<br><br>
You can track the status of your shipment online on your <a href=https://jhaudio.com/orders>Orders Page</a>

</body>
</html>